In [8]:
import pandas as pd
import numpy as np

In [10]:
forest_fires = pd.read_csv("data/forestfires.csv")


• Have a look at the methods available on a pandas dataframe.
– We’ve already seen describe(), so run that on the dataframe you loaded above.
– Run another method providing general information on the stored data.

In [12]:
forest_fires.describe()

                X           Y        temp        wind        rain         area
count  517.000000  517.000000  515.000000  516.000000  517.000000   379.000000
mean     4.669246    4.299807   18.904272    4.019380    0.021663    17.525198
std      2.313778    1.229900    5.801947    1.792934    0.295959    73.818628
min      1.000000    2.000000    2.200000    0.400000    0.000000     0.000000
25%      3.000000    4.000000   15.550000    2.700000    0.000000     0.000000
50%      4.000000    4.000000   19.300000    4.000000    0.000000     2.570000
75%      7.000000    5.000000   22.800000    4.900000    0.000000     9.985000
max      9.000000    9.000000   33.300000    9.400000    6.400000  1090.840000

In [16]:
forest_fires.head()

   X  Y month  day  temp  wind  rain  area
0  7  5   mar  fri   8.2   6.7   0.0   NaN
1  7  4   oct  tue  18.0   0.9   0.0   NaN
2  7  4   oct  sat  14.6   1.3   0.0   NaN
3  8  6   mar  fri   8.3   4.0   0.2   NaN
4  8  6   mar  sun  11.4   1.8   0.0   NaN

In [18]:
forest_fires.shape

(517, 8)

 Which variables having missing data in this data frame?
– Replace all the missing values in area with 0
– Remove the rows that have missing values in other columns

In [21]:
forest_fires.isna().sum()

X          0
Y          0
month      0
day        0
temp       2
wind       1
rain       0
area     138
dtype: int64